@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager;
@model CompositionReadViewModel
@{
    ViewData["Title"] = Model.Title;

    ApplicationUser? user = await userManager.FindByIdAsync(Model.AuthorId);
}

<div class="container-fluid">
    <h1 class="text-center">@Model.Title</h1>
    <p class="text-center" style="text-decoration: none; font-size: small">
        Written by:
        <a asp-controller="User" asp-action="Profile" asp-route-userid="@Model.AuthorId" style="text-decoration: none">@Model.Author</a>
    </p>
    <p>@Model.Content</p>
</div>

@if (User?.Identity?.IsAuthenticated ?? false && user?.Id.ToString() == Model.AuthorId)
{
    <h2 class="text-danger text-center">Delete your work</h2>
    <div class="container-fluid">
        <form onsubmit="return confirmAction();" method="post" asp-action="Delete" asp-route-compositionid="@Model.Id">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
}

@section Scripts{
    <script>
        function confirmAction() {
            var confirmed = window.confirm("Are you sure you want to delete your work? Your work can only be recovered within a 30-day time period!");
            return confirmed;
        }
    </script>
}