@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> userManager
@model CompositionReadViewModel
@{
    ViewData["Title"] = Model.Title;

    string? userId = User.FindFirstValue(ClaimTypes.NameIdentifier);

    ApplicationUser? user = await userManager.FindByIdAsync(userId);

    bool isAuthenticated = User?.Identity?.IsAuthenticated ?? false;
    bool isAuthor = User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.AuthorId;
    bool isAdmin = await userManager.IsInRoleAsync(user, "Admin");
}

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <h3>Ratings:</h3>
            @foreach (RatingViewModel rating in Model.Ratings)
            {

            }
        </div>
        <div class="col-lg">
            <div class="container">
                <div class="container-fluid">
                    <img src="@Model.CoverUrl" class="img-fluid rounded img-thumbnail" alt="Image not found :(" width="1000" />
                </div>
                <h1 class="text-center" style="padding-top: 20px">@Model.Title</h1>
                <p class="text-center" style="text-decoration: none; font-size: small">
                    Written by:
                    <a asp-controller="User" asp-action="Profile" asp-route-userid="@Model.AuthorId" style="text-decoration: none">@Model.Author</a>
                </p>
                <br />
                <p class="text-center" style="font-size: small">
                    Genres:
                </p>
                <p class="text-center" style="text-decoration: none; font-size: small">
                    @for (int i = 0; i < Model.Genres.Count(); i++)
                    {
                        <a asp-controller="Composition" asp-action="All" asp-route-genreid="@Model.Genres.ToArray()[i].Id">
                            @Model.Genres.ToArray()[i].Name
                        </a>
                    }
                </p>
                <textarea disabled>@Model.Content</textarea>
                @if (isAuthenticated && isAuthor || isAdmin)
                {
                    <div class="text-center" style="margin-top: 2rem">
                        <a asp-action="Edit" asp-route-compositionid="@Model.Id" class="btn btn-primary mt-3">Edit</a>
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-2">
            <h3>Comments:</h3>
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                        <div class="card-body p-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    @foreach (CommentCompositionViewModel comment in Model.Comments)
                                    {
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <img src="@comment?.Author?.ProfilePictureUrl" alt="avatar" width="25" height="25" />
                                                <p class="small mb-0 ms-2">@comment?.Author?.Username</p>
                                            </div>
                                            <div class="d-flex flex-row align-items-center">
                                                <p class="small text-muted mb-0">Like</p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var simplemde = new SimpleMDE({
            toolbar: false,
            tabSize: 4,
            status: false
        })

        simplemde.togglePreview();
    </script>
}
